.graficaContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 444px) {
    .graficaContainer {
        flex-direction: column;
        margin-bottom: 20px;
    }
}