
.sectionContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.sectionMercaderia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*INPUT SEARCH*/

.inputSearchTableMercaderia {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}   
.inputSearchTableMercaderia .buttonsearch{
    position: absolute;
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px;

    transform: translateX(165px) translateY(-1px);
}
.inputSearchTableMercaderia .buttonsearch:hover{
    color: var(--gis-oscuro);
}

/*-------------EXPORTAR TABLA-------------*/

.divExportTable button {
    color: white;
    background-color: var(--celeste-claro);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 10px;
}

.divTable {
    width: 100%;
}

.searchCodProducto {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.searchCodProducto button{
    margin-left: 10px;
}

/*.divExportTable button:hover {
    background-color: var(--celeste-oscuro);
}*/

ul.MuiPagination-ul.css-wjh20t-MuiPagination-ul {
    justify-content: center;
    margin-top: 20px;
}

.excel:hover {
    color: #1e6c41;
}
.pdf:hover {
    color: #f20f00;
}
.update:hover {
    color: #1976d2;
}

.infoItemTable {
    padding-top: 90px;
}

@media (max-width: 600px) {
    .sectionContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .infoItemTable {
        padding-top: 10px;
    }
}