
.sectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.infoItemTable {
    padding-top: 20px;
}

.labelListProductos{
    margin: 8px;
}

.inputListCodProductos {
    border: none;
    border-radius: 4px;
    outline: 1px solid #c4c4c4;
    padding: 14px;
}
.inputListCodProductos:hover {
    outline: 1px solid black;
}
.inputListCodProductos:focus {
    outline: 2px solid #1976d2;
}

.css-1xhypcz-MuiStack-root {
    padding-top: 0px;
}

@media (max-width: 600px) {
    .infoItemTable {
        padding-top: 10px;
    }
}

