h1 {
    color: var(--white);
    font-family: 'Bruno Ace SC', cursive;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 100;
}

.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--celeste-oscuro);
    justify-content: space-between;
    align-items: center;

    padding: 0px 8px;
}

.listaAbsolute{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.listaAbsolute li{
    margin-left: 5px;
}
.listaAbsolute a {
    color: var(--white);
}



.barIcon {
    display: none;
    color: var(--white);
}
.ocultar {
    display: none;
}

@media (max-width: 570px) {
    .barIcon {
        display: block;
    }
    .mostrar {
        transform: translateY(263px);
    }
    .listaAbsolute{
        display: block;
        position: absolute;
        
        background-color: var(--celeste-oscuro);
        flex-direction: column;
        padding: 0px;

        left: 0px;
        top: -200px;

        width: 100%;
        transition: transform 1s;   
        z-index: 100;
    }
    .listaAbsolute li {
        text-align: center;
        padding: 12px;
        
        margin: 0px;
    }
    .listaAbsolute li:hover {
        background-color: var(--celeste-claro);
    }
}
















